body{
    margin: 0;
}
                                /* Navbar */
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.logo{
    align-self: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

#nav_heading a{
    color: white;
    text-decoration: none;
    position: relative;
    top: 1.8rem;
    margin-left: 20%;
}

#nav_heading a:focus{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness:5px;
    text-underline-offset: 8px;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
}
.nav_items{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.nav_items a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.nav_items a:focus{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness:5px;
    text-underline-offset: 8px;
}
                                            /* news section */
.news h1{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 45px;
    width: 90%;
}

.card{
    height: 400px;
    margin: 30px 15px 30px 50px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(189, 189, 189);
    font-family: 'Poppins', sans-serif;
}

.card h2{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.card:hover{
    box-shadow: 10px 10px 5px rgb(178, 176, 176);
}

.card img{
    width: 40%;
    height: inherit;
    border-radius: 5px ;
    float: right;
}
.news button{
    width: 200px;
    padding: 10px;
    font-family:'Poppins', sans-serif ;
    font-size: 15px;
    border-radius: 10px;
    background-color: #3432b3;
    color: white;
    float: right;
    margin-bottom: 2rem;
}
.news button:hover{
    background: #2C3333;
}

.news a{
    color: black;
    text-decoration: none;
}

                                        /* Fixtures */
.fixtures{
    position: relative;
    top: 100px;
    height: 600px;
}
.fixture-flex1{
    display: flex;
    justify-content: space-around;
}
.fixture-flex2{
    display: flex;
    justify-content: space-around;
}
.fixtures h2{
    display: inline;
    position: relative;
    bottom: 20px;
}
.fixtures h3{
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 55px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.fixtures img{
    height: 50px;
}
.fixture-card{
    width: 23%;
    height: 130px;
    border: #2C3333 1px solid;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 8px -4px rgb(178, 176, 176);
}
.fixture-card:hover{
    border: #2C3333 3px solid
}

[alt=liverpool]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    left: 5px;
    top: 5px;
}
[alt=newcastle]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    top: 70px;
    right: 50px;
}
[alt=westham]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    left: 5px;
    top: 5px;
}
[alt=tottenham]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    top: 70px;
    right: 50px;
}
[alt=ars]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    left: 5px;
    top: 5px;
}
[alt=aston]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    top: 70px;
    right: 50px;
}
[alt=brentford]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    left: 5px;
    top: 5px;
}
[alt=leeds]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    top: 70px;
    right: 50px;
}
[alt=leicester]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    left: 5px;
    top: 5px;
}
[alt=mancity]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    top: 70px;
    right: 50px;
}
[alt=wolves]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    top: 70px;
    right: 50px;
    
}
[alt=brighton]{
    border-radius: 30px;
    width: 50px;
    position: relative;
    left: 5px;
    top: 5px;
    
}
.first{
    position: relative;
    bottom: 50px;
    left: 70px;
}

.second{
    position: relative;
    bottom: 20px;
    left: 70px; 
}
.third{
    position: relative;
    bottom: 80px;
    left: 270px;
}
                                          /* Footer */

.container9{
    display: flex;
    /* position: relative;
    top: 400px; */
    height: 600px;
    justify-content: center;
    background-color: black;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    color: white;
}
.container10{
    text-align: center;
}
.container10 h1{
    font-family: 'Inter', sans-serif;
}

.container10 p{
    font-family: 'Poppins', sans-serif;  
}

#email1{
   position: relative;
   left: 31px;
}
#fname{
    position: relative;
    right: 2px;
}
#submit{
    padding: 12px;
    width: 200px;
    background-color: #3432b3;
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 60px;
}
.label{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
.input{
    padding: 10px;
    width: 300px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 20px;
}
.input:hover{
    background-color:rgb(209, 230, 248);
}
#submit:hover{
    background-color: #2C3333;
}
#form{
    border: white solid 1px;
    padding: 50px 50px;
    border-radius: 20px;
}
.container11{
    /* position: relative;
    top: 400px; */
    display: flex;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.container15{
    width: 25%;
}
.container14{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-self: flex-start;
    position: relative;
    top: 45px;
    flex-wrap: wrap;
}

.container16{
    position: relative;
    top: 5px;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.container14 li{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin-bottom: 20px;

}

.fa.fa-twitter{
    border: solid white 1px;
    margin-right: 20px;
    margin-left: 50px;
    font-size: 50px;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.fa.fa-facebook{
    border: solid white 1px;
    margin-right: 20px;
    font-size: 50px;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.fa.fa-instagram{
    border: solid white 1px;
    font-size: 50px;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.fa.fa-instagram:hover{
    color: #7ad1e0;
}
.fa.fa-twitter:hover{
    color: #7ad1e0;
}
.fa.fa-facebook:hover{
    color: #7ad1e0;
}

.footerh1{
    position: relative;
    left: 39px;
}

.container15 p{
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-bottom: 40px;

}
#more a{
    color: white;
    text-decoration: none;
}

#more a:hover{
    color: #A5C9CA;
}

[alt=google-play]{
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.fa.fa-apple{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}

.container12 h6{
    margin-left: 40px;
    margin-bottom: 0;
}

.container12 h4{
    margin-left: 40px;
    margin-top: 5px;
}
.container12{
    margin-left: 10px;
    background-color: #3432b3;
    width: 180px;
    border-radius: 5px;
}
.container12:hover{
    background-color: #2C3333;
}
.container13:hover{
    background-color: #2C3333;
}

.container13{
    margin-left: 10px;
    background-color: #3432b3;
    width: 180px;
    border-radius: 5px;
}

.container13 h6{
    margin-left: 50px;
    margin-bottom: 0;
}

.container13 h4{
    margin-left: 50px;
    margin-top: 5px;
}

