body{
    margin: 0;
}
                                /* Navbar */
.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.logo{
    align-self: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

#nav_heading a{
    color: white;
    text-decoration: none;
    position: relative;
    top: 1.8rem;
    margin-left: 20%;
}

#nav_heading a:focus{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness:5px;
    text-underline-offset: 8px;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
}
.nav_items{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.nav_items a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.nav_items a:focus{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness:5px;
    text-underline-offset: 8px;
}

                                          /* Footer */

.container9{
    display: flex;
    /* position: relative;
    top: 400px; */
    height: 600px;
    justify-content: center;
    background-color: black;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    color: white;
}
.container10{
    text-align: center;
}
.container10 h1{
    font-family: 'Inter', sans-serif;
   

}

.container10 p{
    font-family: 'Poppins', sans-serif;  
}

#email1{
   position: relative;
   left: 28px;
}
#fname{
    position: relative;
    right: 2px;
}
#submit{
    padding: 12px;
    width: 200px;
    background-color: rgb(5, 74, 154);
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    position: relative;
    left: 60px;
}
.label{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}
.input{
    padding: 10px;
    width: 300px;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
    margin-bottom: 20px;
}
.input:hover{
    background-color:rgb(209, 230, 248);
}
#submit:hover{
    background-color: #2C3333;
}
#form{
    border: white solid 1px;
    padding: 50px 50px;
    border-radius: 20px;
}
.container11{
    /* position: relative;
    top: 400px; */
    display: flex;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.container15{
    width: 25%;
}
.container14{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-self: flex-start;
    position: relative;
    top: 45px;
    flex-wrap: wrap;
}

.container16{
    position: relative;
    top: 5px;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.container14 li{
    font-family: 'Inter', sans-serif;
    list-style: none;
    margin-bottom: 20px;

}

.fa.fa-twitter{
    border: solid white 1px;
    margin-right: 20px;
    margin-left: 50px;
    font-size: 50px;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.fa.fa-facebook{
    border: solid white 1px;
    margin-right: 20px;
    font-size: 50px;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.fa.fa-instagram{
    border: solid white 1px;
    font-size: 50px;
    border-radius: 40px;
    padding: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.fa.fa-instagram:hover{
    color: #7ad1e0;
}
.fa.fa-twitter:hover{
    color: #7ad1e0;
}
.fa.fa-facebook:hover{
    color: #7ad1e0;
}

.footerh1{
    position: relative;
    left: 39px;
}

.container15 p{
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-bottom: 40px;

}
#more a{
    color: white;
    text-decoration: none;
}

#more a:hover{
    color: #A5C9CA;
}

[alt=google-play]{
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.fa.fa-apple{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}

.container12 h6{
    margin-left: 40px;
    margin-bottom: 0;
}

.container12 h4{
    margin-left: 40px;
    margin-top: 5px;
}
.container12{
    margin-left: 10px;
    background-color: #A5C9CA;
    width: 180px;
    border-radius: 5px;
}
.container12:hover{
    background-color: grey;
}
.container13:hover{
    background-color: grey;
}

.container13{
    margin-left: 10px;
    background-color: #A5C9CA;
    width: 180px;
    border-radius: 5px;
}

.container13 h6{
    margin-left: 50px;
    margin-bottom: 0;
}

.container13 h4{
    margin-left: 50px;
    margin-top: 5px;
}

